.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 50px;
}

span {
    font-weight: 500;
    font-size: 17px;
    margin: 12px 0;
}

.area-input {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-input input {
    width: 100%;
    margin-bottom: 12px;
    height: 46px;
    background-color: rgb(34, 34, 34);
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 0 0 0 20px;
    font-size: 17px;
    color: rgb(212, 212, 212);
}

.area-input input::placeholder {
    color: rgb(199, 199, 199);
    font-size: 17px;
}

.btnCalcular {
    width: 100%;
    margin: 10px 0 20px 0;
    height: 46px;
    background-color: rgb(49, 199, 69);
    border: none;
    color: white;
    font-weight: 500;
    font-size: 20px;
    border-radius: 5px;
}

.msgContainer {
    width: 500px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    animation: animation .6s linear;
}

h2 {
    text-align: center;
    font-size: 17px;
    background-color: rgba(40, 40, 40, 0.987);
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
}

.clearBtn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: rgb(255, 68, 68);
    border: 1px solid rgb(255, 68, 68);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: .3s;
}

.clearBtn:hover {
    color: white;
    background-color: rgb(255, 68, 68);
}

@keyframes animation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}